.allCertificates {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.certificates {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  padding: 16px;
}
.certificate {
  padding: 16px;
  flex: 1 0 auto;
  align-items: flex-start;
  border: 1px solid #d9e2eb;
  width: 300px;
  height: 150px;
  overflow: auto;
}
.certificate:hover {
  scale: 1.02;
  border: 1px solid black;
  box-shadow: 3px 3px 3px 0 black;
}
.certificate h3,
.certificate h4 {
  color: #121417;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.certificate p {
  color: #637587;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px; /* 150% */
  overflow: auto;
  text-align: justify;
}
.certificate a {
  text-decoration: none;
  color: #1a80e5;
}
.certificate a:hover {
  color: green;
}
